@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="title">
        <p> business information</p>
    </div>

    <div class="content">
        <div class="table_content">
            <table>
                <thead>
                <th>Date</th>
                <th>Name</th>
                <th>DBA</th>
                <th colspan="7">business adrress</th>
                <th>more details</th>
                </thead>

                <tbody>

                    <!-- foreach data -->
                    <tr>
                        <td>12-3-2022</td>
                        <td>name</td>
                        <td>DBO </td>
                        <td>street </td>
                        <td>city</td>
                        <td>state</td>
                        <td>zip code</td>
                        <td>bussiness phone </td>
                        <td>cell phone</td>
                        <td>email</td>
                        <td>
                            <a href="#">click here </a>
                        </td>
                    </tr>
                    <!-- foreach data -->
                </tbody>
            </table>
        </div>
    </div>
</div>